<h2>2. Blob/File/Array buffer/Data viewer/Typed Array</h2>

<form>
  <label for="">I. Buffer example</label>
  <ol>
    <li>Create buffer</li>
    <li>Write raw data</li>
    <li>Read raw data</li>
    <li>Create a blob</li>
    <li>Create a file</li>
    <li>Generate data URL</li>
    <li>Create anchor tag & set href</li>
    <li>Download!</li>

  </ol>
  <button type="button" (click)="createBlobFromBuffer()">create!</button>
</form>
<br>
<form action="">
  <label for="">II. Blob example</label>
  <ol>
    <li>Create an object</li>
    <li>Create a blob</li>
    <li>Create a file</li>
    <li>Generate data URL</li>
    <li>Create anchor tag & set href</li>
    <li>Download!</li>
  </ol>
  <button type="button" (click)="createBlobFromObj()">create!</button>
</form>
<div class="main"></div>